body{


    font-family: 'Bona Nova', serif;
    margin: 0%;
    
}
h1{
    font-size: 50px;
  
}
.class-ornz{

    color: orange;
}
section{

    display: flex;
}
.half-width{

    width: 50%;
    padding: 3%;

}
.half-width img{

    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px ;
    border-radius: 5px;
    font-weight: 700;
    color: white;



}
.top-banner{

    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}
section{

    display: flex;
    margin-bottom:140px ;
}

.dream-big{

    background-image: url(Image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
